<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Voting for DE Team</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
      .message {
          height: 300px;
          border: 1px solid #dddddd;
          width: 100%;
      }

      .user {
          height: 140px;
          border: 1px solid #dddddd;
          width: 100%;
      }

      .votestatus {
          height: 140px;
          border: 1px solid #dddddd;
          width: 100%;
      }
  </style>
</head>
<body>
<h1>Team Voting System(Beta)</h1>
<div id="control">
  <input type="button" value="Next Round" onclick="nextRound()">
  <input type="button" value="Disconnect" onclick="closeConn()">
</div>
<h2>Voting Result:</h2>
<div class="message" id="message">
</div>
<h2>Voting Stauts:</h2>
<div class="votestatus" id="votestatus">
</div>
<h2>Teammate Info:</h2>
<div class="user" id="user">
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
  <label class="form-check-label" for="inlineRadio1">1 point</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
  <label class="form-check-label" for="inlineRadio2">2 points</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
  <label class="form-check-label" for="inlineRadio3">3 points</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="5">
  <label class="form-check-label" for="inlineRadio4">5 points</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="8">
  <label class="form-check-label" for="inlineRadio5">8 points</label>
</div>
<input type="button" class="btn btn-primary" value="Vote" onclick="vote()">


<script>
    var socket = new WebSocket("ws://127.0.0.1:8000/room/{{ group }}/")
    socket.onopen = function (event) {
        let info = {user: "{{ user }}", type: "joinInfo"}
        socket.send(JSON.stringify(info))
    }
    socket.onmessage = function (event) {

        let dataDict = JSON.parse(event.data);
        let user = dataDict.user
        if (dataDict.msg_type === 1) {
            let tag = document.createElement("div");
            document.getElementById("user").innerHTML = '';
            tag.innerText = "Current users:";
            document.getElementById("user").appendChild(tag);
            for (const [key, value] of Object.entries(dataDict.alluser)) {
                let tag_temp = document.createElement("div");
                tag_temp.innerText = `${key}`;
                document.getElementById("user").appendChild(tag_temp);
            }
        } else if (dataDict.msg_type === 2) {
            let tag = document.createElement("div");
            document.getElementById("user").innerHTML = '';
            tag.innerText = "Current users:";
            document.getElementById("user").appendChild(tag);
            for (const [key, value] of Object.entries(dataDict.alluser)) {
                let tag_temp = document.createElement("div");
                tag_temp.innerText = `${key}`;
                document.getElementById("user").appendChild(tag_temp);
            }
        } else if (dataDict.msg_type === 3) {
            let tag = document.createElement("div");
            document.getElementById("votestatus").innerHTML = '';
            tag.innerText = "Voted Users:";
            for (const [key, value] of Object.entries(dataDict.voted)) {
                let tag_temp = document.createElement("div");
                tag_temp.innerText = `${key} has voted`;
                document.getElementById("votestatus").appendChild(tag_temp);
            }

        } else if (dataDict.msg_type === 4) {
            document.getElementById("message").innerHTML = '';
            document.getElementById("votestatus").innerHTML = '';
        } else if (dataDict.msg_type === 5) {
            let tag1 = document.createElement("div");
            document.getElementById("votestatus").innerHTML = '';
            tag1.innerText = "Voted Users:";
            for (const [key, value] of Object.entries(dataDict.voted)) {
                let tag_temp = document.createElement("div");
                tag_temp.innerText = `${key} has voted`;
                document.getElementById("votestatus").appendChild(tag_temp);
            }

            let tag2 = document.createElement("div");
            document.getElementById("message").innerHTML = '';
            tag2.innerText = "Voting Result:";

            for (const [key, value] of Object.entries((dataDict.summaryinfo)) {
                let tag_temp = document.createElement("div");
                tag_temp.innerText = `${key}` + " points, voted by: " + `${value}`;
                document.getElementById("message").appendChild(tag_temp);
            }
        }


    }

    socket.onclose = function (event) {

        print(event)

    }

    function vote() {
        for (let i = 1; i <= 5; i++) {
            let currentButton = document.getElementById("inlineRadio" + i)
            if (currentButton.checked) {
                let info = {user: "{{ user }}", type: "voteInfo", voting: currentButton.value}
                socket.send(JSON.stringify(info))
                break;
            }
        }

    }


    function nextRound() {
        let info = {user: "{{ user }}", type: "resetInfo"}
        socket.send(JSON.stringify(info))
    }

    function closeConn() {
        let tag = document.createElement("div");
        document.getElementById("message").innerHTML = '';
        tag.innerText = "You Disconnect";
        document.getElementById("message").appendChild(tag);

        let info = {user: "{{ user }}", type: "quitInfo"}
        console.log("{{ user }}   is quitting")
        socket.send(JSON.stringify(info))
        {#socket.close()#}
    }
</script>

</body>
</html>